
.about-main {
    width: 100%;
}

.underline.about {
    height: 6px;
    width: 100px;
}

.about-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
    margin: 150px 0px;
}

.pfp {
    max-width: 520px;
    width: 100%;
    border: 1px solid black;
}

.card-container {
    display: flex;
    position: relative;
    min-width: 520px;
    height: 520px;
    cursor: pointer;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.card.isFlipped {
    transform: rotateY(180deg)
}

.card-front {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.about-text1, .about-text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    width: 520px;
    border: 1px solid var(--text-color);
    height: 520px;
    padding: 15px;
}

.box {
    opacity: 0;
    transform: translateY(30%);
    transition: all 1s ease;
}

.box.visible {
    opacity: 1;
    transform: translateY(0);
}

.about-text1 {
    transition-delay: 200ms;
}

.card-container {
    transition-delay: 400ms;
}

.about-text2 {
    transition-delay: 600ms;
}

.skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}


@media (max-width: 900px) {
    .about-main {
        width: 90%;
    }
}

