@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.app {
    background-color: var(--bgcolor);
    color: var(--textcolor)
}

[data-theme="dark"] {
    --bgcolor: rgb(37, 37, 37);
    --textcolor: white;
    --primarycolor: #295ec2;
    --secondarycolor: #576983;
    --titlecolor: #3c9fe0;
}

[data-theme="light"] {
    --bgcolor: white;
    --text-color: black;
    --primarycolor: #65baff;
    --secondarycolor: #E5EBEB;
    --titlecolor: #457ece;
}


#home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    opacity: 0; 
    transition: opacity 1s ease-in;
}

#home.visible {
    opacity: 1;
}

.home-border-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home-border {  
    width: 70%;
    height: 70vh;
}

.home-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    text-align: center;
}

.home-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 3.2em;
    font-weight: 650;
}

.title {
    position: relative;
    font-size: 1.4em;
    display: inline;
    z-index: 2;
}

.highlight-wrapper {
    position: relative;
    width: 240px;
    height: 30px;
    margin-top: 5px;
}

.highlight-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primarycolor);
    transform: scaleX(0%);
    transform-origin: left;
    transition: transform 0.7s ease 0.19s;
}

.highlight-bar.visible {
    transform: scaleX(1);
}

#about, #projects, #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-margin-top: 50px;
}

h2 {
    font-size: 2.1em;
    font-weight: 500;
}

.heading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.fadein {
    opacity: 0;
    transition: opacity 1s ease-in; 
}

.fadein.visible {
    opacity: 1;
}

.underline {
    position: relative;
    background-color: var(--primarycolor);
    transform: scaleX(0%);
    transform-origin: left;
    transition: transform 0.7s ease 0.19s;
}

.underline.visible {
    transform: scaleX(1);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

@media(prefers-reduced-motion) {
    .visible {
        transition: none;
    }
}