
.contact-main {
    width: 70%;
}

.underline.contact {
    height: 6px;
    width: 120px;
}

.contact-container {
    opacity: 0;
    transition: opacity 1s ease-in;
    width: 100%;
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 150px 0px;
}

.contact-container.visible {
    opacity: 1;
}

.contact-heading {
    font-size: 1.8em;
    font-weight: 500;
    margin-top: 10px;
}

.contact-text {
    font-size: 1.2em;
    margin: 10px 0px;
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.email {
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: var(--titlecolor);
}

.contact-links-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.contact-links img {
    width: 50px;
}


@media (max-width: 900px) {
    .contact-main {
        width: 90%;
    }

    .contact-container {
        margin-top: 50px;
    }

}


