
.projects-main {
    width: 70%;
}

.underline.projects {
    height: 6px;
    width: 120px;
}

.project-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px 0px;
    width: 100%;
}


@media (max-width: 900px) {
    .projects-main {
        width: 90%;
    }
}
