.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    gap: 15px;
    margin-bottom: 15px;
    opacity: 0;
    transition: all 0.8s ease;
    transform: translateX(-30%);
}

.project-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.project-thumbnail {
    height: 390px;
    width: 400px;
    border: 1px solid var(--primarycolor);
}

.project-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h3 {
    font-size: 1.4em;
    font-weight: 600;
    color: var(--titlecolor);
}

.project-details > p {
    font-size: 1.2em;
}

.tech-stack {
    display: flex;
    list-style-type: none;
    gap: 12px;
    font-size: 1.1em;
}

.tech-stack > li {
    background-color:var(--secondarycolor);
    padding: 8px;
    border-radius: 7px;
}

.project-card.visible:nth-child(2) {
  transition-delay: 200ms;
}
.project-card.visible:nth-child(3) {
  transition-delay: 400ms;
}
.project-card.visible:nth-child(4) {
  transition-delay: 600ms;
}
.project-card.visible:nth-child(6) {
  transition-delay: 200ms;
}
.project-card.visible:nth-child(7) {
  transition-delay: 400ms;
}
.project-card.visible:nth-child(8) {
  transition-delay: 600ms;
}


@media (max-width: 900px) {
  .project-card {
    font-size: 0.8em;
  }

  .project-thumbnail {
    width: 310px;
    height: 300px;
  }
}

